@media only screen and (min-width: 1028px) {


  

.tiles {
  grid-template-columns: 1fr 1fr 1fr;
  clear: both;
  column-count: 3;
  column-rule: 1px solid #ddd;  
}

  
  
    
  } /* end of media Query*/