/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {
  /*----------- BODY --------------*/

  main, footer {
    max-width: 64rem;
    margin:auto;
}

header button {
  display: blockss;
}


  /*----------- MAIN --------------*/

  /*----------- FOOTER --------------*/
} /* end of media query */


  /*----------- HEADER --------------*/
  header img {
    width: auto;
  }

  header h1 {
    font-size: 2rem;
  }

  header h2 {
    font-size: 1.5rem;
  }


 
  /*----------- NAVIGATION --------------*/
  nav {
    background: #2E4057; 
  }
      
  nav ul.hide {
    display: flex;
  }
    
  nav ul {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
  }
    
  