/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

/*----------- HEADER --------------*/
header {
  padding: 0.5rem 2%;
  background-color: #083d77;
  color: white;
}

header img {
  float: left;
  margin-right: 10px;
  width: 50px;
}
header h1 {
  margin: 0;
  font-size: 1.3rem;
  font-family: 'Righteous', cursive;
}
header h2 {
  margin: 0;
  font-weight: normal;
  font-size:  1rem;
}

/*----------- NAVIGATION --------------*/
nav {
  background-color: #2E4057;
  color: white;;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  color: #eee;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}

nav ul li a:hover {
  background-color: #f4d35e;
  color: black;
}
nav ul li.active a {
  background-color: #A790A5;
  color: black;
}



/*
/*----------- MAIN --------------*/
main {
  padding: 0 2%;
  min-height: 10rem;
}

h1, h2, h3 {
  font-family: 'Righteous', cursive;
}

.header_footer {
  background-color: #083d77;
  color: white;
  padding: 10px;
  margin: 1rem auto;
  border-style: solid;
  border-color: grey;
}

.nav_bar {
  background-color: #2E4057;
  color: white;
  padding: 10px;
  margin: 1rem auto;
  border-style: solid;
  border-color: grey;
}

.nav_hover {
  background-color: #f4d35e;
  color: black;
  padding: 10px;
  margin: 1rem auto;
  border-style: solid;
  border-color: grey;
}

.nav_active {
  background-color: #A790A5;
  color: black;
  padding: 10px;
  margin: 1rem auto;
  border-style: solid;
  border-color: grey;
}

.main_area {
  background-color: #FAF3DD;
  color: black;
  padding: 10px;
  margin: 1rem auto;
  border-style: solid;
  border-color: grey;
}

/*----------- FOOTER --------------*/
footer {
  background-color: #083d77;
  color: white;
  padding: 0.5rem 2%;
  text-align: center;
  font-family: 'Righteous', cursive;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
