/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
main, footer {
    max-width: 64rem;
    margin:auto;
}

header button {
  display: none;
}

/* NAV CSS */

nav {
  background: #2E4057; 
}
    
nav ul.hide {
  display: flex;
}
  
nav ul {
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
}
  
nav ul li {
  flex: 1 1 100%;
  float: left
}
  
nav ul li a {
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: .6rem 1rem;
}

/* Main CSS */
.heroDiv {
  margin: 10px auto; 
  width: auto; 
}

.hero-ph {
  margin: 10px auto;
  width: 100%;
  height: auto;
}
.weather-summary {
  top: 40px;
  left: 40px;
}

.weather-summary h3,p {
  margin: 22px auto;
}

.fiveDay table {
  width: 550px;
}

.fiveDay img {
  width: 60px;
}

.article {
  max-width: 70%;
}

.article img {
  width: 300px;
}




} /*end large */