@media only screen and (min-width: 35rem) {



} /* end of media Query*/

header button {
  display: none;
}


section.bottom {
  width: 92%;
  margin: 2rem 0 2rem 2rem;
}

.bottom img {
  display: block;
  margin: 1rem 5rem .5rem 4rem;
}

section.bottom {
  display: grid;
  grid-template-columns: 270px 165px auto;
}

.address h2 {
  margin-left: -1rem;
}

.contact p {
  margin-top: 5.5rem;
  margin-left: 1rem;
}

  
/*------------- Home Page -------------*/
.homeSection {
  
  column-count: 2;
}


